/* Card styling */
.card-div {
  font-family: 'Abel', sans-serif;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.card-image {
  height: 600px !important;
  width: 600px !important;
  position: relative;
  bottom: 5.5em;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
}

.card-image:hover {
  cursor: pointer;
  opacity: .8;
}

.card-title {
  position: relative;
  bottom: 2.8em;
  font-size: 1.8em;
  color: white;
}

p {
  font-size: 1em;
  color: white;
  position: relative;
  bottom: 6em;
}

/* Class to hide content on load */
.hidden {
  display: none;
}

/* Media Queries */
@media (max-width: 650px) {
  .card {
    max-width: 350px!important;
  }

  .card-image {
    height: 260px !important;
    width: 260px !important;
    position: relative; 
    bottom: 2.8em;
    left: 1.6em;
  }

  .card-title {
    font-size: 1.2em;
    position: relative;
    left: 1.2em;
  }

  p {
    font-size: 0.5em;
    color: white;
    position: relative;
    left: 2em;
  }
}
