/* Footer */
.footer {
  position: fixed;
  bottom: .1em;
  right: 2em;
  width: 100%;

}

#footerText {
  color: white !important;
  font-family: 'Abel', sans-serif;
  font-size: .9em;
  float: right;
  position: relative;
  top: .8em!important;
}

/* Media queries */
@media (max-width: 650px) {
  .footer {
    visibility: hidden;
  }
}
